/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* RESET & SETUP */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
    /* border: 1px solid gray; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

a {
    text-decoration: none;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/* end of reset & setup */



/* HEADER STYLES */
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 4% 0;
}
h1 {
    display: none;  /* Added so that search engines and screen readers still have an h1 to read, even though the logo is serving as the site title for a user */
}
header nav {
    display: flex;
    justify-content: space-around;
    width: 79%;
}

header a {
    text-align: center;
    color: black;
}
/* end of header styles */



/* HOME - ABOUT STYLES */
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}
/* end of home - about styles */



/* HOME - BOXES STYLES */
.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* COLOR BOXES */
#b1 {
    background-color: teal;
}
#b2 {
    background-color: gold;
}
#b3 {
    background-color: cadetblue;
}
#b4 {
    background-color: coral;
}
#b5 {
    background-color: crimson;
}
#b6 {
    background-color: forestgreen;
}
#b7 {
    background-color: darkorchid;
}
#b8 {
    background-color: hotpink;
}
#b9 {
    background-color: indigo;
}
#b10 {
    background-color: dodgerblue;
}

/* end of home - boxes styles */



/* HOME - 3 COLUMN INFO STYLES */
.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}
/* end of home - 3 column info styles */



/* FOOTER STYLES */
footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
/* end of footer styles */



/* ABOUT - ABOUT STYLES */
#about {
    padding: 3% 2%;
    border-bottom: 1px dashed black;
}
/* end of about - about styles */



/* ABOUT - TILES STYLES */
#learnMoreTiles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tile {
    width: 46%;
    margin: 3% 0;
    border-bottom: 1px dashed black;
    padding-bottom: 1%;
}

.tile h3 {
    padding-top: 2%;
}

.tile button {
    margin: 3% 0;
    background-color: white;
    border-radius: 10px;
    border-color: black;
    padding: 2%;
    width: 30%;
}

.tile img {
    width: 100%;
}

/* Flex item property demonstration - the tile with the ID swapOrder has been moved. Initial value was 0. Set to -1, it moved backwards through the tile list. */
#swapOrder {
    order: -1;
}
/* end of about - tiles styles */



/* ABOUT - WORK TOGETHER STYLES */
#work {
    padding: 3% 2%;
}
/* end of about - work together styles */

